@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: 0;
list-style: none;
appearance: none;
}

body{
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  background-color: lavenderblush;
  background-size: cover;
  text-align: center;
  margin-top: 50px;
}


h1{
font-weight: 800;
font-size: 4rem;
color: plum;
margin-top: 350px;
}

.one a{
color: indigo;
background-color: white;
font-size: 25px;
padding: 20px;
border-radius: 20px;
}
a:hover{
text-decoration: underline;
}

.arrow span{
padding: 10px;
background-color: gainsboro;
border-radius: 50px;
position: absolute;
bottom: 50px;
right: 70px;
}
h4{
font-size: 3rem;
color: black;
position: absolute;
bottom: 60px;
left: 610px;
}

.img-container{
position: relative;
width: 700px;
height: 700px;
}

.fade{
align: center;
object-fit: cover;
opacity: 0;
transition: opacity: 10s ease;
pointer-events: none;
}
.fade.visible{
opacity: 1;
pointer-events: auto;
}
#img1{
position: absolute;
top: 100px;
left: 705px;
transform: scale(2.5);
}
#img2{
position: absolute;
top: 0px;
left: 370px;
transform: scale(0.3);
}

button{
position: absolute;
top: 500px;
left: 610px;
font-family: "Poetsen One", sans-serif;
font-style: normal;
font-size: 2rem;
padding: 10px;
background-color: rebeccapurple;
color: white;
border-radius: 20px;
}

button:hover {
cursor: pointer;
}

.i1{
position: absolute;
right: 80px;
top: 150px;
transform: scale(1.5);
}
.i2{
position: absolute;
left: 80px;
top: 150px;
transform: scale(1.5);
}

#fireworks{
position: absolute;
transform: scale(3.5);
top: 250px;
left: 500px;
z-index: 5px;
}

.fire h1{
z-index: 10px;
position: absolute;
top: 200px;
color: white;
}
